.toast {
    position: fixed;
        top: 6rem;
        right: 0%;
        transform: translateX(-30%);
        z-index: 999;
        width: 450px;
        border-radius: .8rem;
        height: 80px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
        font-style: italic;
        transition: all .5s;
        /* margin: 0 auto; */
        padding: 0 20px;
        background-color: rgba(36, 27, 35, 1);
}

@keyframes showToast {
    from {
        transform: translateX(100%);
    }

    to {

        transform:  translateX(-30%);
    }
}



.toast__message {
    flex: 1;
    display: flex;
}
.toast__message h6{
    font-family: "DM Sans";
    font-weight: bold;
    margin: 0 auto;
    font-style: normal;
}

.toast__success {
    /* border:2px solid  #00b300; */
    color: #fff;
        animation: showToast .5s ease-in forwards;
}

.toast__info{
     /* border:2px solid rgb(223, 106, 106); */
    color: #fff;
        animation: showToast .5s ease-in forwards;
}

.toast__danger {
     /* border:2px solid #ff0000; */
    color: #fff;
        animation: showToast .5s ease-in forwards;
}

.toast__emoji {
    margin-right: 1rem;
}
.toast__emoji img{
    width: 2rem;
    height: 2rem;
}
.hide__toast {
    transform: translateY(-100rem);
}

.toast_action {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .toast {
        width: 18.3rem;
        font-size: 1rem;
        /* transform: translateX(-5%); */
    }

   
}