.toast {
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    width: 508px;
    border-radius: .8rem;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 1.6rem;
    font-style: italic;
    transition: all .5s;
    /* margin: 0 auto; */
    padding: 0 20px;
   background-color: rgba(36, 27, 35, 1);
    animation: showToast 1s ease-in;
    border:1px solid red;
}

@keyframes showToast {
    0% {
        transform: translateY(-100rem) translateX(-50%);
    }

    50% {
        transform: translateY(2rem) translateX(-50%);
        
    }

    100% {

        transform: translateY(0) translateX(-50%);

    }
}



.toast__message {
    flex: 1;
}

.toast__success {
    /* border:2px solid  #00b300; */
    color: #fff;
}

.toast__info{
     /* border:2px solid rgb(223, 106, 106); */
    color: #fff;
}

.toast__danger {
     /* border:2px solid #ff0000; */
    color: #fff;
}

.toast__emoji {
    margin-right: 1rem;
}

.hide__toast {
    transform: translateY(-100rem);
}

.toast_action {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .toast {
        width: 29.3rem;
        font-size: 1rem;
    }

    .toast__message {
        margin-right: 1rem;
    }   
}