@font-face {
    font-family: 'Monument Extended';
    src: url('MonumentExtended-Regular.woff2') format('woff2'),
        url('MonumentExtended-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

